<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <ol>
        <li><a href="{% url 'prima_app:indice' %}">index</a></li>
        <li><a href="{% url 'prima_app:homepage' %}">home page welcome</a></li>
        <li><a href="{% url 'prima_app:lista' %}">menu</a></li>
        <li><a href="{% url 'prima_app:chi_siamo' %}">chi siamo</a></li>
        <li><a href="{% url 'prima_app:variabili' %}">variabili</a></li>
    </ol>
</body>
</html>